        *,
        *::before,
        *::after {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body {
            height: max-content;
            background: white;
            font-family: "Roboto Slab", serif;
            text-transform: capitalize;
            overflow-x: hidden;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
        }

        a {
            text-decoration: none;
            color: inherit;

            &:visited {
                color: inherit;
            }
        }

        li {
            list-style-type: none;
        }